<!DOCTYPE html>
<html ng-app='todoApp'>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PouchDB Todo App</title>
	<link rel="stylesheet" href="">
	<script src="/app.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body ng-controller='MainController'>
	<div class='main-container'>
		<div class='title-container'>
			<h1>Your To-do's for today: {{ todos.length }}</h1>
		</div>
		<div class='todo-container'>
			<div ng-repeat='todo in todos'>
				<label><input type="checkbox" ng-click='checkOff(todo._id)'>{{ todo.title }}</label>
			</div>
		</div>

		<div class='create-todo-form'>
			<form>
				<div class='create-todo-form__title-input'>
					<input type="text" placeholder='title' ng-model='formData.title'>
				</div>
				<div class='create-todo-form__content'>
					<input type="textarea" ng-model='formData.content'>
				</div>
				<button type="submit" class='create-todo-form__submit' ng-click='createTodo()'>Add Todo!</button>
			</form>
		</div>
	</div>
</body>
</html>